<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<wo:ERXStyleSheet filename = "fontEmbeding.css"/>
</head>
<body paperSize = "Letter" marginTop="36" marginLeft="36" marginBottom="36" marginRight="36">
<wo:if condition = "$isPrinting" negate = "YES">
	<wo:link pageName = "Main">Back to Main Page</wo:link>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<wo:link target = "_blank" action = "$pdfVersionOfCurrentPage">Get a PDF version of this page</wo:link>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	These buttons are hidden by a WOConditional on the printed version.
</wo:if>
<p>This page define a margin of 1/2 in (or 36 pt) on the four sides of a Letter paper page.</p>
<p>The <span style="font-family: Raleway;">Raleway</span> font is embebed in the PDF file.</p>

<div style="font-size: 9pt; font-family: Helvetica;">Helvetica 9pt</div>
<div style="font-size: 12pt; font-family: Helvetica;">Helvetica 12pt</div>
<div style="font-size: 14pt; font-family: Helvetica;">Helvetica 14pt</div>
<div style="font-size: 16pt; font-family: Helvetica;">Helvetica 16pt</div>
<div style="font-size: 18pt; font-family: Helvetica;">Helvetica 18pt</div>
<div style="font-size: 20pt; font-family: Helvetica;">Helvetica 20pt</div>

<div style="font-size: 9pt; font-family: Times;">Times 9pt</div>
<div style="font-size: 12pt; font-family: Times;">Times 12pt</div>
<div style="font-size: 14pt; font-family: Times;">Times 14pt</div>
<div style="font-size: 16pt; font-family: Times;">Times 16pt</div>
<div style="font-size: 18pt; font-family: Times;">Times 18pt</div>
<div style="font-size: 20pt; font-family: Times;">Times 20pt</div>

<div style="font-size: 9pt; font-family: Palatino;">Palatino 9pt</div>
<div style="font-size: 12pt; font-family: Palatino;">Palatino 12pt</div>
<div style="font-size: 14pt; font-family: Palatino;">Palatino 14pt</div>
<div style="font-size: 16pt; font-family: Palatino;">Palatino 16pt</div>
<div style="font-size: 18pt; font-family: Palatino;">Palatino 18pt</div>
<div style="font-size: 20pt; font-family: Palatino;">Palatino 20pt</div>

<div style="font-size: 9pt; font-family: Raleway;">Raleway 9pt</div>
<div style="font-size: 12pt; font-family: Raleway;">Raleway 12pt</div>
<div style="font-size: 14pt; font-family: Raleway;">Raleway 14pt</div>
<div style="font-size: 16pt; font-family: Raleway;">Raleway 16pt</div>
<div style="font-size: 18pt; font-family: Raleway;">Raleway 18pt</div>
<div style="font-size: 20pt; font-family: Raleway;">Raleway 20pt</div>

</body>
</html>